@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

.btn {
  border-radius: 50px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 60px;
}

.btn-primary {
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  box-shadow: 0px 5px 10px -5px hsl(208deg 11% 55%)
}

.btn-primary:hover{
  background-color: hsl(322, 100%, 78%);
}

.container {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 100%;
  /* width: 1000px; */
}

.flex {
  display: flex;
  align-items: center;
}

.flex > div {
  flex: 1;
}

header {
  background-image: url('../images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center center;
  background-color: hsl(193, 100%, 96%);
  padding: 40px 0;
}

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/*section-cards and floating-section styles*/
.round-shadow{ /*shared to set shadow*/
  border-radius: 10px;
  padding: 1.6em;
  box-shadow: 0px 0px 15px 0 hsl(208deg 11% 55% / 26%);
}

.section-card{ /*card users*/
  width:88%;
  margin: 3% 6%;
}

.section-card .section-card-text{ /*text of the users card*/
  padding: 3em;
}

.floating-section{ /*floating section 'build your community'*/
  flex-direction: column;
  width: 50%;
  margin: 3% 25%;
  text-align: center;
  transform: translateY(50%);
  z-index: 2;
  background-color: #fff;
  padding-bottom: 2.6em;
}


@media screen and (max-width: 768px) {
  body {
      text-align: center;
  }

  nav.flex {
      flex-direction: row;
  }

  .header-img {
    margin-top: 40px;
    margin-left: 0;
    width: 100%
  }

  .flex {
    flex-direction: column;
  }

  /*section-cards and floating-section mobile styles*/
  .section-card{ /*card users inverse elements and reduce margin*/ 
    flex-direction: column-reverse;
    width: 92%;
    margin: 4%;
   }

  .section-card .section-card-text{ /*set new padding to text section card users*/
    padding: 0;
  }

  .floating-section{ /*reduce margin to floating section*/
    width: 92%; /*same as section-card*/
    margin: 3% 4%;
    padding-left: 0;
    padding-right: 0;
  }

  .floating-section h3{
    font-size: 1em;
  }

}